build: [
  [
    "dune"
    "build"
    "-p"
    name
    "-j"
    jobs
    "@install"
    "@runtest" {with-test & arch != "arm32" & arch != "x86_32"}
    "@doc" {with-doc}
  ]
]
x-ci-accept-failures: [
  "freebsd-14.3"
  "macos-homebrew"
  "opensuse-15.6"
  "opensuse-16.0"
  "opensuse-tumbleweed"
]
